.plan-collection {
    background-color: #2C343E;
    height: 653px;
    margin-top: 168px;
}

.plan-collection__list {
    // @include reset-list;
    display: flex; 
    justify-content: space-between; 
    padding: 100px 85px 100px 85px;
}

.plan-collection__list-item {
 position: relative;
 width: 285px;
 height: 355px;
 margin-right: 95px;
 text-align: left;
 align-items: center;
}

.plan-collection__list-item:nth-child(3) {
    margin-right: 0;
}

.plan-collection__list-item::before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;
    
    border: 2px solid #0E8784;
    border-radius: 50%;
    margin-bottom: 67px;
    position: relative;
    z-index: 1;
}

.plan-collection__list-item::after {
    content: '';
    display: block;
    width: 760px;
    height: 1px;
    position: absolute;
    color: blue;
    
    
}

.collect__radio {
    // width: 31px;
    // height: 31px;
    // border: 2px solid #0E8784;
    // border-radius: 50%;

        content: "";
        display: block;
        width: 31px;
        height: 31px;
        background: #FEFCF7;
        border: 2px solid #0E8784;
        border-radius: 50%;
        margin-bottom: 67px;
        position: relative;
        z-index: 1;
}

.collect__number {
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
/* identical to box height, or 100% */


color: #FDD6BA;

}

.collcet__title {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.collect__des {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

@media only screen and (max-width: $tablet) {
    .plan-collection {
            background-color: #2C343E;
            height: 640px;
            margin-top: 168px;
        }
    
        .plan-collection__list {
            // @include reset-list;
            text-align: left;
            display: flex;
            justify-content: space-between;
            padding: 97px 40px 97px 40px;
        }
    
        .plan-collection__list-item {
            position: relative;
            width: 223px;
            height: 368px;
            margin-right: 10px;
            text-align: center;
        }

        .plan-collection__list-ite:nth-child(3) {
            margin-right: 0;
        }
    
        .plan-collection__list-item::before {
            content: "";
            display: block;
            width: 31px;
            height: 31px;
    
            border: 2px solid #0E8784;
            border-radius: 50%;
            margin-bottom: 67px;
            position: relative;
            z-index: 1;
        }
    
        .plan-collection__list-item::after {
            content: '';
            display: block;
            width: 760px;
            height: 1px;
            position: absolute;
            color: blue;
    
    
        }
    
        .collect__radio {
            // width: 31px;
            // height: 31px;
            // border: 2px solid #0E8784;
            // border-radius: 50%;
    
            content: "";
            display: block;
            width: 31px;
            height: 31px;
            background: #FEFCF7;
            border: 2px solid #0E8784;
            border-radius: 50%;
            margin-bottom: 67px;
            position: relative;
            z-index: 1;
        }
        .collect__number {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 72px;
            line-height: 72px;
            /* identical to box height, or 100% */
    
    
            color: #FDD6BA;
    
        }
    
        .collcet__title {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 28px;
            line-height: 32px;
            margin-top: 48px;
    }
    
        .collect__des {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
    }
}

@media only screen and (max-width: $mobile) {

            .plan-collection {
                background-color: #2C343E;
                height: 1300px;
                align-items: center;
                text-align: center;
                margin-top: 168px;
            }
    
            .plan-collection__list {
                // @include reset-list;
                list-style: none;
                
                display: flex;
                // justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 80px 24px 80px 24px;
                text-align: center;
            }
    
            .plan-collection__list-item {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                vertical-align: middle;
                text-align: center;
                margin-bottom: 56px;
                display: flex;
                

                // width: 327px;
                // height: 156px;
                // margin-right: 10px;
                // margin-bottom: 56px;
            }
    
            .plan-collection__list-ite:nth-child(3) {
                margin-right: 0;
            }
    
            .plan-collection__list-item::before {
                content: "";
                display: none;
                width: 31px;
                height: 31px;
    
                border: 2px solid #0E8784;
                border-radius: 50%;
                margin-bottom: 67px;
                position: relative;
                z-index: 1;

            }
    
            .plan-collection__list-item::after {
                content: '';
                display: none;
                width: 760px;
                height: 1px;
                position: absolute;
                color: blue;
    
    
            }
    
            .collect__radio {
                // width: 31px;
                // height: 31px;
                // border: 2px solid #0E8784;
                // border-radius: 50%;
    
                content: "";
                display: block;
                width: 31px;
                height: 31px;
                background: #FEFCF7;
                border: 2px solid #0E8784;
                border-radius: 50%;
                margin-bottom: 67px;
                position: relative;
                z-index: 1;
            }
    
            .collect__number {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 72px;
                line-height: 72px;
                /* identical to box height, or 100% */
                text-align: center;
                margin: auto;
                color: #FDD6BA;

            }
    
            .collcet__title {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
            }
    
            .collect__des {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                /* or 167% */
            
                text-align: center;
            }
        }
    
